
/*NAVIGATION BAR

/* Add a black background color to the top navigation */

.top-navbar {
    list-style-type: none;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* INDEX CONTENT */
  .content {
    text-align: center;
    
    font-size: 2.5rem;
  }

  .viewall{
    font-size: 2rem;
    text-decoration: none !important;
    background-color: rgb(80, 59, 26);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 50px;
    
  }

  .font-family{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
 li a:hover {
    background-color: #111;
  }

  /*Float Navbar Contents to the right*/
  .top-navbar-right {
    float: right;
  }

  /* BACKGROUND IMAGE */
  body { 
    background: url('https://i.ibb.co/V36qxp5/Cartel-featured.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    
} 

  /* HEADER */

  .header{
    text-align: center;
    
    font-size: 3em;
    margin: 40px;
  }

  
  /* LABEL */
  label {
    
    font-size: 1em;
    text-align:right;
    padding-right:15px;
    
  }

  /* FORM */

  /* FORM BACKGROUND */
  .form-background {
    background-color:rgb(190, 187, 187);
    opacity: 0.96;
    filter: alpha(opacity=50);
  }
  

 /* Full-width input fields */
 input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
